<div id="collection" class="row">
  <div class="span12">
    <h1><span>{{ 'collections.list_collections.title' | t }}</span></h1>
  </div> <!-- /.span12 -->
</div> <!-- /.row -->

<div class="row products masonry">
  {% for collection in collections %}
  {% include 'collection-loop' %}
  {% endfor %}
</div> <!-- /#collection.row -->