{% if shop.customer_accounts_enabled %}
  {% if customer  %}
    <li class="customer-links"><a href="/account">{{ 'general.account.your_account' | t }}</a></li>
  {% else %}
    <li class="customer-links">
      {{ 'general.account.log_in' | t | customer_login_link }}
      {% if shop.customer_accounts_optional %}
      <span class="or">&nbsp;{{ 'general.account.or' | t }}&nbsp;</span>
      {{ 'general.account.create_account' | t | customer_register_link }}
      {% endif %}
    </li>
  {% endif %}
{% endif %}